:root {
 --c0: black;
 --c11: white;
 --filter-01:url(#turbulence-effect);
}

body {
 overflow-y: hidden;
 overflow-x: hidden;
 background: var(--c0);
 color: var(--c11);
 user-select: none;
 margin: 0;
 padding: 0;
}
.centered {
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -40%);
}

#img-bkg {
 z-index:63;
 position:absolute;
 top:0;
 left:0;
 width:100vw;
 height:100vh;
 background: var(--c0) url(epenex.png) no-repeat 50% 50% fixed;
 background-size: cover;
 mix-blend-mode:difference;
}

section#hello .section-content .headline {
 color: var(--c11);
 opacity:1;
}

.headline{
 filter: var(--filter-01);
 letter-spacing: -0.11em;
 font-family: "DynaPuff", sans-serif;
 font-weight: 500;
 font-size:11em;
 opacity:.03;
 text-align:center;
 transition: color 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

}
